h1 {
    text-align: center;
    display: block;
    margin: 5px;
    padding: 1%;
}

h2 {
    text-align: center;
    margin: 1%;
    color: darkblue;
}

h3 {
    text-align: center;
}

article{
    text-align: center;
    padding: 2%;
    margin: 2%;
    font-style: italic;
    background-color: aquamarine;
}
.red {
    color: red;
}

.FrontPage li{
    display: inline-block;
    margin: 2%;
}

.FrontPage li a:hover {
    background-color: aquamarine;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

input,button {
    appearance: block ;
    background: rgb(231, 246, 17);
    margin: auto;
    padding: 2%;;
    border: 2px;
    outline: 2px;
}

form {
    display: block;
    position: relative;
    margin: auto;
}

form .InnerForm {
    position: relative;
    display: block;
    background-color: aqua;
    padding: 15px;
    z-index: 3;
}

form .InnerForm h2 {
    color: blue;
    font-size:  30px;
    font-weight: 500;
    margin-bottom: 20px;
}

.InnerForm .GroupForm label {

    display: block;
    color: brown;
    font-size: 15px;
    margin: 5px;
    transition: 0.7s;
}

form .InnerForm .GroupForm input{
    display: left;
    width: 400px;
    padding: 8px;
    background-color: rgb(15, 250, 74);
    border-radius: 8px;
    transition: 0.9s;
}

form .InnerForm .GroupForm input:focus {
    box-shadow: 0px 0px 3px;
}

form .InnerForm .sendButton{
    display: block;
    color: rebeccapurple;
    font-size: 15px;
    margin-bottom: 6px;
}